body{
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
} 

#conteneur{
    border: 2px dashed purple;
    border-radius: 8px;
    background: radial-gradient(at center, #3498db, #9b59b6);
    width: 32%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


legend{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

input{
    font-size: 15px;
    border-radius: 13px; 
}

textarea{
    border-radius: 5px;
}

#bouton{
    height: 30px;
    display: flex;
    margin-top: 25px;
    justify-content: center;

}

.annuler:hover{
    background-color: grey;
}

.logIn:hover{
    background-color: burlywood;
}

#mdpOublier{
    font-size: smaller;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;
    animation-name: mdpO;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

a{
    color: white;
}

@keyframes mdpO {
    from {
        opacity: 3;
    }
    to {
        opacity: 0;
    }
}





